<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <title>Home Page</title>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container">
        <h1>Welcome to Home Page</h1>
        <p>This is the home page of the website</p>
        <%= JSON.stringify(user)%>
    </div>
</body>
<%-include('./partials/script.ejs') %>

</html>